<div class="container-fluid info table-responsive">
    <h3>
        <fa-icon [icon]="faInfo"></fa-icon>
        Information from Organisations
    </h3>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Information</th>
            <th>Info By</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>JAipur</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moedjhgfshdfgdhgfsdjh</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
    </table>
</div>