.org {
    padding-left: 40px;
    padding-right: 40px;
}
header {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 30px;
    height: 80px;
    padding: 10px;
    padding-left: 20px;
    background: #f87060;
}

header h1 {
    color: white;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
}